.hero {
  &.is-boxed {
    --color: currentColor;
    margin: 20px;
    border-radius: var(--radius-large);
    border: solid 1px rgba(255, 255, 255, 0.2);

    &.is-fullheight {
      height: calc(100vh - 40px);
    }
  }

  &.is-double-fullheight {
    height: 200vh;
  }
}
