@use '../config' as *;

.product-card {
    @extend .card;
    padding-top: 30px;
    background-color: $light;
    box-shadow: unset;
    user-select: none;
    max-height: 75vh;

    figure {
        max-height: 60vh;
        display: flex;
        align-items: center;
        aspect-ratio: 1/1;
        margin: 0 auto;
    }

    .product-image {
        mix-blend-mode: darken;
        transition: ease-out .3s;
        object-fit: contain;

        &.empty-state {
            opacity: 0.3;
            padding: 30px;
        }
    }

    .card-footer, .eye {
        transition: ease-out .5s;
        translate: 0 30%;
        opacity: 0;
    }

    .eye:hover {
        scale: 1.05;
    }

    &:hover {
        .product-image {
            scale: 0.95;
        }
        .card-footer, .eye {
            translate: 0 0;
            opacity: 1;
        }
    }
}

.product-caption {
    color: $dark;
    a {
        color: currentColor;
    }
}

