@use '../config/' as *;
@use "sass:map";

div.woocommerce {
  .product {
    position: relative;

    .onsale {
      background-color: var(--primary);
      color: var(--primary-inverted);
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      z-index: 2;
      padding: map.get($spacing-values, "3");
      font-weight: $weight-bold;
    }

    .price {
      font-size: $size-5;
    }
  }
}
