.layout {
    transition: ease-out 0.4s;
    &.is-loading {
        opacity: 0.2;
        translate: 0 100px;
        border-radius: $alma-radius;
    }
}

.preloader {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    transition: ease-out 0.4s;
    display: flex;
    height: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .logo {
        opacity: 0;
        translate: 0 30%;
        transition: ease-out 200ms;
        transition-delay: 100ms;
    }

    &.is-loading {
        border-radius: $alma-radius;
        top: unset;
        bottom: 0;
        height: 100vh;

        .logo {
            opacity: 1;
            translate: 0 0;
        }
    }
}