/**
 * Initial variables
 */

/** Colors */
$primary: #2caffb;
$dark: #000;
$light: #F2F2F2;
$danger: #CA0049;
$grey: #D9D9D9;
$body-family: 'Helvetica',sans-serif;
$title-family: 'Helvetica',
sans-serif;
$title-weight: 400;

/** Sizes */
$size-7: clamp(0.63rem, 0.13vw + 0.59rem, 0.75rem);
$size-6: clamp(0.74rem, 0.21vw + 0.68rem, 0.94rem);
$size-5: clamp(0.87rem, 0.32vw + 0.79rem, 1.17rem);
$size-4: clamp(1.03rem, 0.46vw + 0.91rem, 1.46rem);
$size-3: clamp(1.21rem, 0.65vw + 1.05rem, 1.83rem);
$size-2: clamp(1.43rem, 0.9vw + 1.2rem, 2.29rem);
$size-1: clamp(1.69rem, 1.24vw + 1.38rem, 2.86rem);
$size-small: 0.75rem;
$size-normal: 1rem;
$size-medium: 1.25rem;
$size-large: 1.5rem;
$body-size: $size-6;
$icon-dimensions: $size-6;
$icon-dimensions-small: $size-7;
$icon-dimensions-medium: $size-5;
$icon-dimensions-large: $size-4;
$control-border-width: 2px;

/** Alma Sizes */
$alma-radius: 20px; // Used, for example, in cards.


/**
 * Using Bulma
 */
 @forward "~/bulma/sass" with (
  $primary: $primary,
  $dark: $dark,
  $light: $light,
  $danger: $danger,
  $grey: $grey,
  $body-family: $body-family,
  $title-family: $title-family,
  $title-weight: $title-weight,
  $size-7: $size-7,
  $size-6: $size-6,
  $size-5: $size-5,
  $size-4: $size-4,
  $size-3: $size-3,
  $size-2: $size-2,
  $size-1: $size-1,
  $size-small: $size-small,
  $size-normal: $size-normal,
  $size-medium: $size-medium,
  $size-large: $size-large,
  $body-size: $body-size,
  $icon-dimensions: $icon-dimensions,
  $icon-dimensions-small: $icon-dimensions-small,
  $icon-dimensions-medium: $icon-dimensions-medium,
  $icon-dimensions-large: $icon-dimensions-large,
  $control-border-width: $control-border-width,
  $cssvars-prefix: "",
);

@forward "~/bulma/sass/utilities/mixins";


/**
 * Setting up Bulma Theme
 */

$theme-colors: (
  primary: $primary,
  dark: $dark,
  light: $light,
  danger: $danger,
  grey: $grey,
  white: #fff,
  black: #000,
);


/**
 * Import External Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');

