@import "tailwindcss" theme(static);
@import '../../vendor/livewire/flux/dist/flux.css';
@source "../views/";
@source "../../app/";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    
}

/* Force Native Gutenberg Fonts */
.editor-styles-wrapper {
    @apply font-sans antialiased text-zinc-900;
}

/* Force Native Gutenberg Buttons to look like Flux Buttons */
.wp-block-button__link {
    @apply inline-flex items-center justify-center font-medium gap-2 whitespace-nowrap overflow-hidden text-base! md:text-sm! transition-[color,background-color,border-color,text-decoration-color,fill,stroke,box-shadow] duration-200 outline-none outline-offset-2 ring-1 rounded-lg shrink-0 h-10 px-4 ring-zinc-800/50 bg-zinc-800 text-white hover:bg-zinc-800/90 dark:bg-white dark:text-zinc-800;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    @apply bg-white! text-zinc-800! hover:bg-zinc-50! ring-zinc-800/20! shadow-sm!;
}

.wp-block-button.is-style-ghost .wp-block-button__link {
    @apply bg-transparent! text-zinc-800! hover:bg-zinc-800/5! ring-transparent! shadow-none!;
}

/* Expand default Gutenberg container width for a true desktop preview */
.block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 1280px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
