.is-transparent {
  background: transparent !important;
}

.is-rounded {
  border-radius: var(--radius);
}

.is-rounded-large {
  border-radius: var(--radius-large);
}

.is-outlined {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

