@use '../config/' as *;

/**
 * Global
 */

a {
  color: map-get($theme-colors, 'primary');
}

/** Satellite Cursor */

[data-cursor="-icon"]:hover {
  color: var(--primary);
}

.satellite-cursor {

  &:before {
    background-color: var(--dark);
  }

  &.-primary {

    &:before{
      background-color: var(--primary);
      opacity: 1;
    }

    .satellite-cursor-text {
      color: var(--dark);
    }

  }

  &.-inverse {

    &:before{
      background-color: var(--white);
      opacity: 1;
    }

    .satellite-cursor-text {
      color: var(--dark);
    }

  }

  &.-icon {
    &:before {
      height: 45px;
      width: 45px;
      background-color: transparent;
      border: solid 2px var(--primary);
    }
  }
}

