// Variables
$font-size-diff: 0.3;

$main-title: 6rem;
$title: 4rem;
$subtitle: 3rem;
$caption: 2rem;

$main-title-base: 3rem;
$title-base: 2rem;

// Estilos básicos
.container.is-fluid {
  container-type: inline-size;
}

// Mixins
@mixin fluid-font-size($font-size, $font-size-fluid) {
  font-size: clamp(
    max(1rem, $font-size - $font-size * $font-size-diff),
    $font-size-fluid,
    $font-size
  );
}

@mixin calculate-font-size($font-size-base, $font-size-fluid) {
  font-size: calc($font-size-base + $font-size-fluid);
}

// Aplicación de mixins
h1,
.title.is-fluid.is-1 {
  @include fluid-font-size($main-title, 5cqi);
}

h2,
.subtitle.is-fluid.is-2 {
  @include fluid-font-size($title, 5cqi);
}

h3,
.subtitle.is-fluid.is-3 {
  @include fluid-font-size($subtitle, 4cqi);
}

h4,
.caption.is-fluid.is-4 {
  @include fluid-font-size($caption, 3cqi);
}

h1.calculate,
.title.is-fluid.is-1.calculate {
  @include calculate-font-size($main-title-base, 5cqi);
}

h2.calculate,
.subtitle.is-fluid.is-2.calculate {
  @include calculate-font-size($title-base, 5cqi);
}
