/**
 * Global
 */

a {
  color: map-get($theme-colors, 'primary');
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}

/** Satellite Cursor */

[data-cursor="-icon"]:hover {
  color: $danger;
}

.satellite-cursor {

  &:before {
    background-color: $danger;
  }

  &.-inverse {

    &:before{
      background-color: rgba(255,255,255,1);
      opacity: 1;
    }

    .satellite-cursor-text {
      color: $dark;
    }

  }

  &.-icon {
    &:before {
      height: 45px;
      width: 45px;
      background-color: transparent;
      border: solid 1px $danger;
    }
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .satellite-cursor {
        display: none !important;
    }
  }
 
