@import '../scripts/solar/index.scss';



// Estilos básicos
.container.is-fluid {
    container-type: inline-size;
  }
  
  // Mixins
  @mixin fluid-font-size($font-size, $font-size-fluid) {
    font-size: clamp(
      max(1rem, $font-size - $font-size * $font-size-diff),
      $font-size-fluid,
      $font-size
    );
  }
  
  @mixin calculate-font-size($font-size-base, $font-size-fluid) {
    font-size: calc($font-size-base + $font-size-fluid);
  }
  
  // Aplicación de mixins
  h1,
  .title.is-fluid.is-1 {
    @include fluid-font-size($main-title, 5cqi);
  }
  
  h2,
  .title.is-fluid.is-2 {
    @include fluid-font-size($title, 5cqi);
  }
  
  h3,
  .title.is-fluid.is-3 {
    @include fluid-font-size($subtitle, 4cqi);
  }
  
  h4,
  .title.is-fluid.is-4 {
    @include fluid-font-size($caption, 3cqi);
  }
  
  h1.calculate,
  .title.is-fluid.is-1.calculate {
    @include calculate-font-size($main-title-base, 5cqi);
  }
  
  h2.calculate,
  .title.is-fluid.is-2.calculate {
    @include calculate-font-size($title-base, 5cqi);
  }
  