/**
 * Variables
 */

$cyan: #2593FF;
$blue: #23374D;
$primary: $cyan;
$dark: $blue;
$light: #f5f5f5;

$theme-colors: (
  primary: $primary,
  dark: $blue,
  light: $light
);


$body-family: 'Roboto', sans-serif;
$body-size: 15px;


[data-aos] {
  transition-timing-function: ease-out !important;
  
  &:not([data-aos-duration]) {
      transition-duration: 1s !important;
  }
}