/**
 * Initial : s
 */
$primary: #0083CA;
$dark: #05151E;
$light: #F2F2F2;
$danger: #CA0049;
$grey: #D9D9D9;
$body-family: 'Roboto',
sans-serif;
$title-family: 'Blinker',
sans-serif;
$title-weight: 400;

/** Sizes */
$size-7: clamp(0.63rem, 0.13vw + 0.59rem, 0.75rem);
$size-6: clamp(0.74rem, 0.21vw + 0.68rem, 0.94rem);
$size-5: clamp(0.87rem, 0.32vw + 0.79rem, 1.17rem);
$size-4: clamp(1.03rem, 0.46vw + 0.91rem, 1.46rem);
$size-3: clamp(1.21rem, 0.65vw + 1.05rem, 1.83rem);
$size-2: clamp(1.43rem, 0.9vw + 1.2rem, 2.29rem);
$size-1: clamp(1.69rem, 1.24vw + 1.38rem, 2.86rem);

$size-small: 0.75rem;
$size-normal: 1rem;
$size-medium: 1.25rem;
$size-large: 1.5rem;

$body-size: 16px;

$icon-dimensions: $size-6;
$icon-dimensions-small: $size-7;
$icon-dimensions-medium: $size-5;
$icon-dimensions-large: $size-4;

$control-border-width: 2px;

/** Alma Sizes */

$alma-radius: 20px; // Used, for example, in cards. 

/**
 * Setting up Fluid Typography
 */

// @Variation diff
$font-size-diff: 0.3;

// @h1 
$main-title: 6rem;

// @h2
$title: 4rem;

// @h3
$subtitle: 3rem;

// @h4
$caption: 2rem;

// calculate @h1
$main-title-base: 3rem;

// calculate @h2
$title-base: 2rem;
