/**
 * Color Variables
 */
$primary: #24b5ff;
$dark: #192d4e;
$light: #f9f9f9;
$danger: #ba1919;
$body-family: ('Helvetica Neue','Helvetica','Roboto', sans-serif);

/**
 * Setting up Fluid Typography
 */

// @Variation diff
$font-size-diff: 0.3;

// @h1 
$main-title: 6rem;

// @h2
$title: 4rem;

// @h3
$subtitle: 3rem;

// @h4
$caption: 2rem;

// calculate @h1
$main-title-base: 3rem;

// calculate @h2
$title-base: 2rem;


